.app {
  display: flex;
  flex-direction: column;
  background: white;
}

.content {
  flex: 1;
  padding: 20px;
}

.footer {
  text-align: center;
  padding: 10px;
  background: #f5e4c7;
  color: white;
}

