.password {
  max-width: 500px;
  height: 300px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
  background: black;
  padding: 20px;
  border-radius: 5px;
  color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.password h2 {
  text-align: center;
  font-size: 28px;
}

.password-input {
  padding: 10px;
  border-radius: 5px;
  border: none;
  outline: none;
  font-size: 16px;
}

.password-button {
  padding: 10px;
  border-radius: 5px;
  border: none;
  background: rgb(12, 12, 12);
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.password-button:hover {
  opacity: 0.95;
}

.forgot-link {
  text-align: right;
  color: #ccc;
  text-decoration: none;
  font-size: 14px;
}

.forgot-link:hover {
  color: #fff;
  text-decoration: underline;
}
